# Make some new SQL dbs and scrape into them. 

Scrape the data into a new database for additional feature generation.

1. Load some modules. 
2. Load the data and subselect for various parameters.  
3. Connect to the database. 
3. Write the tables. 
4. Start scraping!

### Load some modules

In [65]:
%matplotlib inline
%config InlineBackend.figure_format='retina'
from os.path import join
from pandas import DataFrame,read_csv
import numpy as np
from os import getcwd,listdir
import matplotlib.pyplot as plt
from sklearn.externals import joblib
from pandas import DataFrame
from bs4 import BeautifulSoup

# my own scripts
#append the path for my own funtions and import them 
import sys
sys.path.append('/home/ubuntu/InsightProject')
from scraper import * 
from data_functions import *
from plotters import *
from stats import *

# multiprocessing
from multiprocessing.pool import ThreadPool as Pool
from validators.url import url as validate_url

# sqlaclhemy
import sqlalchemy as sa
from sqlalchemy import Column, Table, MetaData,create_engine
from sqlalchemy.dialects.mysql import *
from sqlalchemy.sql.expression import insert

## Load the data and subselect for various parameters. 
As part of this process, need to clean the data once again.

In [3]:
path = '/home/ubuntu/data'
hdf = 'GoGuardianClassified_Unique-9-19-2015.hdf'
data = pd.read_hdf(join(path, hdf), 'goguardian')

In [5]:
data.head()

,id,url,catIDs,catNames,parentIDs,parentNames,number_categories,number_parents,visited,saved,size
0,3,0--ass-cinema-newsp.da.ru,[2],[Pornography],[0.0],[nan],1,1,True,True,9205
1,5,0--fightingshaving.da.ru,[2],[Pornography],[0.0],[nan],1,1,True,True,9205
2,6,0--foodwarez.da.ru,[2],[Pornography],[0.0],[nan],1,1,True,True,9205
3,7,0--gratis.dk,[2],[Pornography],[0.0],[nan],1,1,True,False,0
4,12,0-0-0-1blowjob.da.ru,[2],[Pornography],[0.0],[nan],1,1,True,True,9205

In [33]:
data = data.query('number_categories ==1')
data2 = data.loc[:,['url', 'catNames', 'parentNames'] ]

In [34]:
## convert the catNames and parentNames to a single item 
data2.catNames = data2.catNames.apply(lambda x: x[0])
data2.parentNames = data2.parentNames.apply(lambda x: x[0])

In [35]:
data2.head(1)

                         url     catNames parentNames
0  0--ass-cinema-newsp.da.ru  Pornography         NaN

In [36]:
# change the parentNames to reflect the catNames if NaN
categories = data2.copy().iloc[:, [1,2]]

categories.drop_duplicates(inplace=True)

In [37]:
## create a mapping (dict) that maps the catNames to the parent Names.
cat_map = {}

# note to self that the nans are floats.. 
for i in xrange(len(categories)):
    if isinstance(categories.iloc[i,1], float):
        cat_map[categories.iloc[i,0]] = categories.iloc[i,0]
    else: 
        cat_map[categories.iloc[i,0]] = categories.iloc[i,1]

In [38]:
#use this to map to data
data2.parentNames = data2.catNames.map(cat_map)

In [46]:
# rename the columns
data2.columns = ['url', 'Secondary Category', 'Primary Category']

In [55]:
## and the filenames
data2['filenames'] = data2.url.apply(lambda x: rename_url(x,'.txt'))

In [58]:
data2.head(1)

,url,Secondary Category,Primary Category,filenames
0,0--ass-cinema-newsp.da.ru,Pornography,Pornography,0--ass-cinema-newsp_da_ru.txt

In [59]:
#save
data2.to_hdf(join(path, 'urls_subset-10-03-2015.hdf'),'goguardian')

/home/ubuntu/anaconda/lib/python2.7/site-packages/pandas/io/pytables.py:2577: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block0_values] [items->['url', 'Secondary Category', 'Primary Category', 'filenames']]

  warnings.warn(ws, PerformanceWarning)

In [62]:
# query to find out which one have been download. 
html_path = '/home/ubuntu/data/html'
download = listdir(html_path)
data3 =data2.query('filenames in @download')

###  Connect to the database. 

1. connect to the data base and check connection. 
2. check to see query works. 
2. create a metadata data object and bind it.

In [66]:
eng = create_engine('mysql://root:what@localhost/url',pool_size=32)

In [68]:
eng.execute('show databases').fetchall()

[('information_schema',), ('mysql',), ('performance_schema',), ('url',)]

In [69]:
meta = MetaData()
meta.bind = eng

### Make the tables
Create a table for the classifed with tags, and a new table for the ones that have not been classified.

In [71]:
classified_tags = Table('classified_tags',meta,
                        Column('ID', INTEGER, primary_key=True, autoincrement=True),
                        Column('url', VARCHAR(60)),
                        Column('filename', VARCHAR(60)),
                        Column('primary_category', VARCHAR(60)),
                        Column('secondary_category', VARCHAR(60)),
                        Column('paragraphs', INTEGER),
                        Column('titles', INTEGER),
                        Column('links', INTEGER),
                        Column('images', INTEGER),
                        Column('metas', INTEGER),
                        Column('headers', INTEGER),
                        Column('word_count', INTEGER),
                        Column('text',MEDIUMTEXT)
                       )

student_tags = Table('student_tags',meta,
                        Column('ID', INTEGER, primary_key=True, autoincrement=True),
                        Column('url', VARCHAR(60)),
                        Column('filename', VARCHAR(60)),
                        Column('paragraphs', INTEGER),
                        Column('titles', INTEGER),
                        Column('links', INTEGER),
                        Column('images', INTEGER),
                        Column('metas', INTEGER),
                        Column('headers', INTEGER),
                        Column('word_count', INTEGER),
                        Column('text',MEDIUMTEXT)
                       )

In [72]:
## create the tables
meta.create_all()

In [74]:
eng.execute('show databases').fetchall()

[('information_schema',), ('mysql',), ('performance_schema',), ('url',)]

### Start scraping!
1. Write function for classified
2. execute for classified. 
3. write function for student_tags
4. execute.


#### Write function for classified

In [91]:
# reset the index of data3
data3.reset_index(inplace = True)

In [123]:
def scrape_classified(index):
    ## given a row insert into the table 
    # index is the index. 
    
    #get the row information 
    row = data3.loc[index]
    
  
    # get the file information  
    html_path = '/home/ubuntu/data/html'
    filename = join(html_path,row.filenames)
    
    # scrape the text 
    text, counts, word_count=scrape_text_and_count_tags(filename)
    
    # parse out the tag counts
    paragraphs,titles, links, images, metas, headers = counts
    
    #insert into the data base. 
    eng.dispose()
    with eng.connect() as conn:
        # insert the data into the database. 
        ins = classified_tags.insert().values(
            url = row.url,
            filename = row.filenames,
            primary_category = row['Primary Category'],
            secondary_category = row['Secondary Category'],
            paragraphs = paragraphs,
            titles = titles,
            links =links,
            images =images,
            metas = metas,
            headers = headers,
            word_count = word_count,
            text = text
                       )
        conn.execute(ins)

In [124]:
#try the first one
scrape_classified(0)

#### Scrape baby scrape

In [129]:
### Now use a pool
rows = range(1, len(data3))

Here is code for doing the multiproccessing. 
```python
pool = Pool(32)
pool.map(scrape_classified, rows)
pool.close()```

#### Comments

I had a problem with inserting some of the entries because some of them were NaN rather than a string. I need to drop the nan. I do this below and then rescrape

In [150]:
sql = pd.read_sql('select * from classified_tags', con = eng)

In [151]:
not_scraped = data3.query('url not in @sql.url')
len(not_scraped)

1109

In [152]:
#drop the nans
not_scraped = not_scraped.dropna()
len(not_scraped)

1100

In [153]:
rows = not_scraped.index

Here is code for doing the multiproccessing. 
```python
pool = Pool(32)
pool.map(scrape_classified, rows)
pool.close()```

Some of the entries were double inserted..

### set up code for scrapping the student_tags

1. first get a list of the students htmls. 
2. rewrite the code. 
3. execute.

In [161]:
student_path = '/home/ubuntu/data/student_html'
student_files = DataFrame({'filenames':listdir(student_path)})
student_files['url']= student_files.filenames.apply(lambda x: x.replace('.txt', '').replace('_','.'))

In [162]:
student_files.head()

                          filenames                           url
0     mrpshumanities_weebly_com.txt     mrpshumanities.weebly.com
1                    www_apl_tv.txt                    www.apl.tv
2  darthassassin_deviantart_com.txt  darthassassin.deviantart.com
3       esheninger_blogspot_com.txt       esheninger.blogspot.com
4     www_yamahamotorsports_com.txt     www.yamahamotorsports.com

In [167]:
def scrape_students(index):
    ## given a row insert into the table 
    # index is the index. 
    
    #get the row information 
    row = student_files.loc[index]
    
  
    # get the file information  
    student_path = '/home/ubuntu/data/student_html'
    filename = join(student_path,row.filenames)
    
    # scrape the text 
    text, counts, word_count=scrape_text_and_count_tags(filename)
    
    # parse out the tag counts
    paragraphs,titles, links, images, metas, headers = counts
    
    #insert into the data base. 
    eng.dispose()
    with eng.connect() as conn:
        # insert the data into the database. 
        ins = student_tags.insert().values(
            url = row.url,
            filename = row.filenames,
            paragraphs = paragraphs,
            titles = titles,
            links =links,
            images =images,
            metas = metas,
            headers = headers,
            word_count = word_count,
            text = text
                       )
        conn.execute(ins)

#### Excecute

In [171]:
rows = student_files.index

This is the code that I excecuted to scrape the student htmls and place in the database. 
Note I did not actually scrape all of them.. 

``` python
pool = Pool(32)
pool.map(scrape_students, rows)
pool.close()```

## Remarks

Done!